<link rel="stylesheet" href="/assets/fontawesome/css/all.min.css" />

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<ng-container *ngIf="!isLoading && !isShowCustomerDetail">
  <div class="container-fluid" [style.margin-top.px]="30">
    <div class="headerBody">
      <button class="btn btn-success mb-2" (click)="newCustomer($event)">
        New Customer
      </button>
      <div class="search">
        <input type="text" placeholder="Enter your choice" /><i
          class="fas fa-search"
        ></i>
      </div>
    </div>

    <div class="row bg-white">
      <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
        <div
          class="row shadow"
          style="left: auto !important; right: 0; min-width: auto;"
        >
          <table class="table table-bordered table-hover mb-0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let customer of showedCustomers">
                <td>{{ customer.id }}</td>
                <td>{{ customer.username }}</td>
                <td>{{ customer.password }}</td>
                <td>{{ customer.fullname }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.address }}</td>
                <td>
                  <button
                    class="btn btn-primary mr-1"
                    (click)="viewCustomer(customer)"
                  >
                    <i class="far fa-eye"></i>
                  </button>
                  <button
                    class="btn btn-success mr-1"
                    (click)="editCustomer(customer)"
                  >
                    <i class="far fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-danger"
                    (click)="deleteCustomer(customer)"
                  >
                    <i class="far fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-auto">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a
                [class]="currentPage == 1 ? 'disabled page-link' : 'page-link'"
                href="javascript:void(0)"
                aria-label="Previous"
                (click)="onPreviousPage()"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <li class="page-item" *ngFor="let data of pagesArr">
              <a
                [class.selected]="data === currentPage"
                class="page-link active"
                href="javascript:void(0)"
                (click)="onSelectPage(data)"
                >{{ data }}</a
              >
            </li>

            <li class="page-item">
              <a
                [class.disabled]="currentPage == pages"
                class="page-link"
                href="javascript:void(0)"
                aria-label="Next"
                (click)="onNextPage()"
              >
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</ng-container>

<app-customer-detail
  [(visible)]="isShowCustomerDetail"
  [customer]="selectedCustomer"
  [isEditable]="isEditableCustomerDetail"
  [isNewCustomer]="isNewCustomer"
  (onGoBackCustomersPage)="onGoBackCustomersPage($event)"
></app-customer-detail>

<app-alert
  [(visibleAlert)]="isConfirm"
  (onGoBackFirstPage)="onGoBackCustomersPage($event)"
  (clickedConfim)="onClickedConfirmDeleted($event)"
></app-alert>
