<body>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <h2 class="title">Welcome</h2>
    <div class="alert alert-danger alert-error" role="alert" *ngIf="error">
      {{ error }}
    </div>

    <div class="input-group">
      <input
        type="text"
        id="loginEmail"
        name="username"
        ngModel
        #username="ngModel"
        required
      />
      <label for="loginEmail">UserName</label>
    </div>
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="username.touched && username.errors?.required"
    >
      User Name is require!!!
    </div>

    <div class="input-group">
      <input
        type="password"
        id="loginPassword"
        name="password"
        ngModel
        #password="ngModel"
        required
        minlength="6"
      />
      <label for="loginPassword">Password</label>
    </div>
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="password.touched && password.errors?.required"
    >
      Password is require!!!
    </div>

    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="password.touched && password.errors?.minlength"
    >
      Password must be at least 6 characters long!!!
    </div>

    <div class="remember-me">
      <label> <input type="checkbox" /> Remember me </label>
    </div>

    <div>
      <p>
        Don't have account?
        <a routerLink="/register">Sign Up</a>
      </p>
    </div>

    <button [disabled]="!form.valid" type="submit">Login</button>
  </form>
</body>
