.row {
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
}

.content .description {
  display: flex;
  flex-direction: row;
}

.content .filmContent label {
  font-weight: 700;
  font-size: 1.4rem;
}

.content .filmContent label::after {
  display: block;
  width: 100px;
  height: 2px;
  margin-top: 8px;
  content: "";
  background-color: #20c997;
}

.content .description img {
  width: 100%;
  object-fit: cover;
  margin-right: 1.2rem;
  border-radius: 12px;
}

.content .description .content-description h3 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.2rem;
}

.content .description .content-description label {
  font-weight: bold;
  font-size: 1.1rem;
}

.content .description .content-description p {
  display: inline;
  margin-left: 0.5rem;
}

.content .timeShowing {
  margin-top: 3rem;
}

.content .timeShowing .date {
  margin-top: 1rem;
}

.content .timeShowing .date label {
  font-weight: bold;
  margin-right: 1rem;
  width: 10.8rem;
}

.content .timeShowing .time {
  display: inline;
}

.content .timeShowing .time button {
  width: 9rem;
  height: 2.5rem;
  border-radius: 1.2rem;
  margin-right: 0.7rem;
}

.content .backPage {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.time-showing-item {
  padding: 1rem;
  text-decoration: none;
}

.time-showing-item.active {
  border-bottom: 1px solid #20c997;
  color: #20c997 !important;
}
