<ng-container>
  <div class="row h-100">
    <div class="col-xs-12 col-md-9 col-lg-9 col-xl-9 movie-container">
      <div class="content">
        <div class="description">
          <img [src]="movie.poster" />
          <div class="content-description">
            <h3>
              {{ movie.name }}
            </h3>
            <div>
              <label>Time Limit:</label>
              <p>{{ filmDescription.timeLimit + " minutes" }}</p>
            </div>

            <div>
              <label>Director:</label>
              <p>{{ filmDescription.director }}</p>
            </div>

            <div>
              <label>Artist:</label>
              <p>{{ filmDescription.artist }}</p>
            </div>
            <div>
              <label>Nation:</label>
              <p>{{ filmDescription.nation }}</p>
            </div>

            <div>
              <label>Premiere:</label>
              <p>{{ filmDescription.premiere | date: "EEEE dd/MM/y" }}</p>
            </div>

            <div>
              <label>Content:</label>
              <p>{{ filmDescription.content }}</p>
            </div>
          </div>
        </div>
        <!-- <div class="row flex-column mt-5">
          <div
            class="list-group flex-row col-6 border-top justify-content-center"
            id="list-tab"
            role="tablist"
          >
            <a
              *ngFor="let dateTime of timeFilmShowing.date; let i = index"
              class="time-showing-item text-secondary"
              id="list-home-list"
              data-toggle="list"
              [href]="'#time' + i"
              role="tab"
              aria-controls="home"
            >
              {{ dateTime | date: "EEEE dd/MM/y" }}
            </a>
          </div>
          <div class="tab-content" id="nav-tabContent">
            <div *ngFor="let dateTime of timeFilmShowing.date; let i = index">
              <div
                *ngFor="let time of timeFilmShowing.timeStart"
                class="tab-pane fade"
                [id]="'time' + i"
                role="tabpanel"
                aria-labelledby="list-home-list"
              >
                <button
                  *ngIf="dateTime.getDate() === time.getDate()"
                  class="btn btn-success timeStartEnd"
                >
                  <span>{{ time | date: "hh:mm" }}</span>
                  <span>{{ hyphen }}</span>
                  <span>{{ timeFilmShowing.timeEnd[i] | date: "hh:mm" }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="timeShowing">
          <div class="date" *ngFor="let dateTime of timeFilmShowing.date">
            <label>{{ dateTime | date: "EEEE dd/MM/y" }}:</label>
            <div
              class="time"
              *ngFor="let time of timeFilmShowing.timeStart; let i = index"
            >
              <button
                class="btn btn-success timeStartEnd"
                *ngIf="dateTime.getDate() === time.getDate()"
              >
                <span>{{ time | date: "hh:mm" }}</span>
                <span>{{ hyphen }}</span>
                <span>{{ timeFilmShowing.timeEnd[i] | date: "hh:mm" }}</span>
              </button>
            </div>
          </div>
        </div> -->

        <div class="backPage">
          <a class="btn btn-primary" routerLink="/admin/movies">Close</a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
