<ng-container>
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6 form-container">
      <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12">
            <h3 style="text-align: center;">
              {{ editMode ? "Edit " : "New " }}Movie
            </h3>
            <div class="form-group">
              <label for="name">Name Film</label>
              <input
                id="name"
                class="form-control"
                type="text"
                formControlName="name"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="trailer">Trailer</label>
              <input
                type="text"
                class="form-control"
                id="trailer"
                formControlName="trailer"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="poster">Poster Image</label>
              <div class="custom-file">
                <input
                  id="poster"
                  type="file"
                  class="custom-file-input"
                  formControlName="poster"
                  (change)="onFileChange($event.target.files)"
                />
                <label class="custom-file-label" for="poster" #labelImport
                  >Choose file</label
                >
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="" class="mr-5">Genres</label>
              <mat-form-field>
                <mat-label>Genres</mat-label>
                <mat-select formControlName="genres" multiple>
                  <mat-option *ngFor="let genre of genreList" [value]="genre">{{
                    genre
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div formGroupName="filmDescription">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="timeLimit">Time Limit</label>
                <input
                  type="text"
                  class="form-control"
                  id="timeLimit"
                  formControlName="timeLimit"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="director">Director</label>
                <input
                  class="form-control"
                  id="director"
                  type="text"
                  formControlName="director"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="artist">Artist</label>
                <input
                  id="artist"
                  class="form-control"
                  type="text"
                  formControlName="artist"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="nation">Nation</label>
                <input
                  class="form-control"
                  id="nation"
                  type="text"
                  formControlName="nation"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="premiere" class="mr-3">Premiere</label>

                <mat-form-field>
                  <mat-label style="color: gray;">Choose a date</mat-label>
                  <input
                    matInput
                    style="border: none;"
                    [matDatepicker]="picker"
                    class="form-control"
                    id="premiere"
                    formControlName="premiere"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                    style="color: #20c997;"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="content">Content</label>
                <textarea
                  class="form-control"
                  id="content"
                  type="text"
                  rows="3"
                  formControlName="content"
                ></textarea>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button
                  class="btn btn-light btn-block text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="true"
                  aria-controls="collapseTwo"
                >
                  Time Showing
                </button>
              </h2>
            </div>

            <div
              id="collapseTwo"
              class="collapse show"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <div class="row">
                  <div class="col-12" formArrayName="showTimeFilm">
                    <div
                      class="row"
                      *ngFor="let time of controls; let i = index"
                      [formGroupName]="i"
                    >
                      <div class="col-6">
                        <label for="datetime">Time Showing</label>
                        <mat-form-field class="ml-3">
                          <input
                            matInput
                            [ngxMatDatetimePicker]="picker"
                            placeholder="Choose a date"
                            formControlName="time"
                          />
                          <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                            style="color: #20c997;"
                          ></mat-datepicker-toggle>
                          <ngx-mat-datetime-picker
                            #picker
                            [showSpinners]="true"
                            [showSeconds]="true"
                            [stepHour]="1"
                            [stepMinute]="1"
                            [stepSecond]="1"
                            [touchUi]="true"
                            [enableMeridian]="false"
                            [color]="color"
                          >
                          </ngx-mat-datetime-picker>
                        </mat-form-field>
                      </div>

                      <div class="col-auto">
                        <label for="room">Room </label>
                        <select
                          id="room"
                          class="form-control"
                          formControlName="room"
                        >
                          <option
                            *ngFor="let room of rooms"
                            [value]="room.id"
                            >{{ room.name }}</option
                          >
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="row">
          <div class="col-12">
            <div class="row justify-content-end mr-2">
              <button
                type="submit"
                class="btn btn-new"
                [disabled]="!movieForm.valid"
              >
                {{ editMode ? "Save" : "Submit" }}
              </button>
              <button
                type="button"
                class="btn btn-cancel ml-3"
                (click)="onCancel()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>
