<ng-container>
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6 form-container">
      <form action="">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" />
                <label class="custom-file-label" for="customFile"
                  >Choose file</label
                >
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="nameFilm">Name Film</label>
              <input
                class="form-control"
                id="nameFilm"
                type="text"
                name="nameFilm"
                #nameFilm="ngModel"
                ngModel
                required
              />
            </div>
          </div>
        </div>

        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button
                  class="btn btn-light btn-block text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Description
                </button>
              </h2>
            </div>

            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="timeLimit">Time Limit</label>
                      <input
                        class="form-control"
                        id="timeLimit"
                        type="text"
                        name="timeLimit"
                        #timeLimit="ngModel"
                        ngModel
                        required
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="director">Director</label>
                      <input
                        class="form-control"
                        id="director"
                        type="text"
                        name="director"
                        #director="ngModel"
                        ngModel
                        required
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="artist">Artist</label>
                      <input
                        class="form-control"
                        id="artist"
                        type="text"
                        name="artist"
                        #artist="ngModel"
                        ngModel
                        required
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="nation">Nation</label>
                      <input
                        class="form-control"
                        id="nation"
                        type="text"
                        name="nation"
                        #nation="ngModel"
                        ngModel
                        required
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="premiere">Premiere</label>
                      <input
                        class="form-control"
                        id="premiere"
                        type="text"
                        name="premiere"
                        #premiere="ngModel"
                        ngModel
                        required
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="content">Content</label>
                      <textarea
                        class="form-control"
                        id="content"
                        type="text"
                        name="content"
                        rows="3"
                        #content="ngModel"
                        ngModel
                        required
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button
                  class="btn btn-light btn-block text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="true"
                  aria-controls="collapseTwo"
                >
                  Time Showing
                </button>
              </h2>
            </div>

            <div
              id="collapseTwo"
              class="collapse show"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-6">
                          <label for="datetime">Time Showing</label>
                          <mat-form-field class="ml-3">
                            <input
                              id="datetime"
                              matInput
                              [ngxMatDatetimePicker]="picker"
                              placeholder="Choose a date"
                              name="datetime"
                              [(ngModel)]="date"
                              #datetime="ngModel"
                              required
                            />
                            <mat-datepicker-toggle
                              matSuffix
                              [for]="picker"
                              style="color: #20c997;"
                            ></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker
                              #picker
                              [showSpinners]="true"
                              [showSeconds]="true"
                              [stepHour]="1"
                              [stepMinute]="1"
                              [stepSecond]="1"
                              [touchUi]="true"
                              [enableMeridian]="false"
                              [color]="color"
                            >
                            </ngx-mat-datetime-picker>
                          </mat-form-field>
                        </div>

                        <div class="col-6">
                          <label for="room"
                            >Rooms
                            <input
                              class="form-control"
                              id="room"
                              type="text"
                              name="room"
                              #room="ngModel"
                              ngModel
                              required
                            />
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>
