.sidebar {
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.col-auto {
  margin-top: 20px;
  padding-left: 10px;
  user-select: none;
  font-weight: 400;
  font-size: 1.7rem;
  color: #e2e096;
}

.nav-item:hover {
  color: #20c997;
}

.selected {
  background: #20c997;
  color: white !important;
}

.nav-item .nav-link {
  padding-left: 4rem;
  color: #555;
  font-size: 1.5rem;
  display: block;
  transition: linear 0.1s;
}

.nav-item .nav-link:hover {
  color: #20c997;
}

@media (max-width: 1912px) {
  .col-auto {
    font-size: 1.7rem;
  }
}

@media (max-width: 1420px) {
  img {
    height: 65px;
    width: 65px;
  }
  .col-auto {
    font-size: 1.1rem;
  }
  .nav-item .nav-link {
    font-size: 1.3rem;
  }
}
