<link rel="stylesheet" href="/assets/fontawesome/css/all.min.css" />

<div class="row flex-column h-100 sidebar pl-5 px-4">
  <div class="col-auto mb-4">
    <img
      class="d-block m-auto"
      src="assets/images/logo.png"
      width="100"
      height="100"
    />
    <p class="title">Movie's World</p>
  </div>

  <div class="col">
    <div class="row h-100">
      <nav class="nav flex-column w-100">
        <li class="nav-item">
          <a
            class="nav-link"
            *ngIf="isAuthenticatedStaff"
            [routerLink]="['customers']"
            [routerLinkActive]="'selected'"
            ><i class="far fa-user mr-3"></i> <span>Customers</span></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            *ngIf="isAuthenticatedStaff"
            [routerLink]="['staffs']"
            [routerLinkActive]="'selected'"
            ><i class="far fa-users mr-3"></i> <span>Staffs</span></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['movies']"
            [routerLinkActive]="'selected'"
            ><i class="far fa-ticket-alt mr-3"></i> <span>Movies</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" *ngIf="isAuthenticatedStaff"
            ><i class="far fa-chart-pie mr-3"></i> <span>Statistics</span></a
          >
        </li>
      </nav>
    </div>
  </div>

  <div class="col-auto h-25"></div>
</div>
