.sidebar {
  background: linear-gradient(
    243.49deg,
    #da6767 18.42%,
    rgba(237, 231, 10, 0) 178.64%
  );
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.col-auto {
  margin-top: 20px;
  padding-left: 10px;
  user-select: none;
  font-weight: 400;
  font-size: 1.7rem;
  color: #e2e096;
}

.nav-item:hover {
  background: rgba(132, 0, 0, 0.15);
}

.nav-item .nav-link {
  padding-left: 4rem;
  color: black;
  font-size: 1.5rem;
  display: block;
}

.selected {
  background: rgba(132, 0, 0, 0.45);
}

@media (max-width: 1912px) {
  .col-auto {
    font-size: 1.7rem;
  }
}

@media (max-width: 1420px) {
  img {
    height: 65px;
    width: 65px;
  }
  .col-auto {
    font-size: 1.1rem;
  }
  .nav-item .nav-link {
    font-size: 1.3rem;
  }
}
