<link rel="stylesheet" href="/assets/fontawesome/css/all.min.css" />

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<app-toasts
  *ngIf="isToastsShowing"
  [isToastShowing]="isToastsShowing"
  [message]="message"
  [isSucceeding]="isSucceeding"
></app-toasts>
<ng-template appPlaceholder></ng-template>
<ng-container *ngIf="!isLoading">
  <div class="container-fluid" [style.margin-top.px]="30">
    <div class="headerBody">
      <button class="btn-new" (click)="newCustomer($event)">
        + New Customer
      </button>
      <div class="search">
        <input
          type="text"
          placeholder="Enter your choice"
          [(ngModel)]="search"
          (keyup.enter)="searchCustomer()"
        /><i class="far fa-search" (click)="searchCustomer()"></i>
      </div>
    </div>

    <div class="row bg-white">
      <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12">
        <div
          class="row shadow"
          style="left: auto !important; right: 0; min-width: auto;"
        >
          <table class="table table-bordered table-hover mb-0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let customer of showedCustomers">
                <td>{{ customer.id }}</td>
                <td>{{ customer.username }}</td>
                <td>{{ customer.fullName }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.address }}</td>
                <td style="text-align: center;">
                  <i
                    class="far fa-eye idetail"
                    (click)="viewCustomer(customer.id)"
                  ></i>
                  <i
                    class="far fa-edit iedit"
                    (click)="editCustomer(customer.id)"
                  ></i>
                  <i
                    class="far fa-trash-alt idelete"
                    (click)="deleteCustomer(customer.id)"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-auto">
        <nav aria-label="Page navigation example">
          <ul class="pagination mt-5">
            <li class="page-item">
              <a
                [class]="currentPage == 1 ? 'disabled page-link' : 'page-link'"
                href="javascript:void(0)"
                aria-label="Previous"
                (click)="onPreviousPage()"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <li class="page-item" *ngFor="let data of pagesArr">
              <a
                [class.selected]="data === currentPage"
                class="page-link active"
                href="javascript:void(0)"
                (click)="onSelectPage(data)"
                >{{ data }}</a
              >
            </li>

            <li class="page-item">
              <a
                [class.disabled]="currentPage == pages"
                class="page-link"
                href="javascript:void(0)"
                aria-label="Next"
                (click)="onNextPage()"
              >
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</ng-container>
