<div class="row h-100 mr-0">
  <div class="col-2">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-10">
    <div class="row flex-column h-100">
      <div class="col-auto">
        <div class="row h-100">
          <div class="col-12 px-0">
            <app-header></app-header>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="row h-100">
          <div class="col-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>

      <div class="col-auto">
        <div class="row bg-white">
          <div class="col-12">
            <app-footer></app-footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
