.shadow {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.disabled {
  color: rgba(0, 0, 0, 0.2);
}

.selected {
  background-color: #20c997;
  color: #fff;
}

.headerBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.1rem;
  margin-top: 3.1rem;
}

.headerBody .search > input {
  border: none;
  background-color: #ededf1;
  border-radius: 12px;
  height: 35px;
  padding-left: 8px;
  outline: none;
}

.headerBody i.fa-search {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.2);
}

.table .idetail {
  color: #007bff;
}

.table .iedit {
  color: #20c997;
}

.table .idelete {
  color: #dc3545;
}

i {
  font-weight: bold;
  font-size: 1.19rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

.page-item {
  margin-left: 0.5rem;
}

.page-item > a {
  border-radius: 50% !important;
  border: none;
  background-color: transparent;
  transition: linear 0.1s;
}

.page-item > a.disabled:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.2);
}

.page-item > a.selected:hover {
  color: white;
  opacity: 0.8;
}

.page-item > a.selected {
  background-color: #20c997;
}
