<ng-container>
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6 form-container">
      <form [formGroup]="showTimeFilmForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12">
            <h3 style="text-align: center;">
              {{ editMode ? "Edit " : "New " }}Show Time Film
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="datetime" class="mr-5">Time Showing</label>
              <mat-form-field>
                <input
                  matInput
                  class="form-control"
                  id="datetime"
                  placeholder="Choose a date"
                  [ngxMatDatetimePicker]="picker"
                  formControlName="datetime"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                  style="color: #20c997;"
                ></mat-datepicker-toggle>
                <ngx-mat-datetime-picker
                  #picker
                  [touchUi]="false"
                  [color]="color"
                >
                </ngx-mat-datetime-picker>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label class="mr-5">Room</label>
              <mat-form-field>
                <mat-label>Room</mat-label>
                <mat-select [compareWith]="compareFn" formControlName="room">
                  <mat-option *ngFor="let room of rooms" [value]="room">
                    {{ room.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="row justify-content-end mr-2">
              <button
                type="submit"
                class="btn-new"
                [disabled]="!showTimeFilmForm.valid"
              >
                {{ editMode ? "Save" : "Submit" }}
              </button>
              <button
                type="button"
                class="btn btn-danger btn-cancel ml-3"
                (click)="onCancel()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>
