.my-name span {
  font-weight: 400;
}

.details {
  display: flex;
  margin-top: 1rem;
}

.labels {
  font-weight: 600;
  margin-right: 4rem;
}

@media (max-width: 1790px) {
  body {
    font-size: 14px;
  }
  .left-content {
    width: 45%;
  }
}

@media (max-width: 1220px) {
  body {
    font-size: 14px;
  }
  .left-content {
    display: none;
  }
}
