<div class="row h-100 justify-content-end align-items-center">
  <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
    <div class="container content-container">
      <div class="row pt-4 pb-2">
        <div class="col-5">
          <div class="row justify-content-center align-items-center">
            <img src="assets/images/avatar.svg" />
          </div>
        </div>

        <div class="col-7">
          <span class="say-hi">HELLO</span>

          <h2 class="my-name">
            I'm <span>{{ editingCustomer.fullName }}</span>
          </h2>
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-lg-2 col-md-6 col-12 labels labels">
                  ID
                </div>
                <div class="col-auto">
                  {{ editingCustomer.id }}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-2 col-md-6 col-12 labels labels">
                  Full Name
                </div>
                <div class="col-auto">
                  {{ editingCustomer.fullName }}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-2 col-md-6 col-12 labels labels">
                  User Name
                </div>
                <div class="col-auto">
                  {{ editingCustomer.username }}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-2 col-md-6 col-12 labels labels">
                  Email
                </div>
                <div class="col-auto">
                  {{ editingCustomer.email }}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-2 col-md-6 col-12 labels labels">
                  Phone
                </div>
                <div class="col-auto">
                  {{ editingCustomer.phone }}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-2 col-md-6 col-12 labels labels">
                  Address
                </div>
                <div class="col-auto">
                  {{ editingCustomer.address }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row bottom-content">
        <div class="col-auto">
          <a [routerLink]="'../'">
            <i class="far fa-arrow-alt-circle-left"></i>
          </a>
          <a [routerLink]="'edit'">
            <i class="far fa-edit"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
