<div class="row h-100 justify-content-end align-items-center">
  <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
    <div class="container">
      <div class="left-content">
        <img src="assets/images/avatar.svg" />
      </div>

      <div class="right-content">
        <span class="say-hi">HELLO</span>

        <h2 class="my-name">
          I'm <span>{{ editingStaff.fullName }}</span>
        </h2>

        <div class="details">
          <div class="labels">
            <p>ID</p>
            <p>Full Name</p>
            <p>User Name</p>
            <p>Email</p>
            <p>Phone</p>
            <p>Address</p>
          </div>

          <div class="information">
            <p>{{ editingStaff.id }}</p>
            <p>{{ editingStaff.fullName }}</p>
            <p>{{ editingStaff.username }}</p>
            <p>{{ editingStaff.email }}</p>
            <p>{{ editingStaff.phone }}</p>
            <p>{{ editingStaff.address }}</p>
          </div>
        </div>
      </div>

      <div class="bottom-content">
        <a [routerLink]="'../'">
          <i class="far fa-arrow-alt-circle-left"></i>
        </a>
        <a [routerLink]="'edit'">
          <i class="far fa-edit"></i>
        </a>
      </div>
    </div>
  </div>
</div>
