<ng-container *ngIf="visible">
  <div class="row h-100 justify-content-end align-items-center">
    <div class="col-xs-12 col-md-9 col-lg-9 col-xl-9">
      <form #form="ngForm">
        <div class="row">
          <div class="col-xs-12 col-md-9 cl-lg-9">
            <div class="form-group" *ngIf="!isNewStaff">
              <label for="id">ID</label>
              <input
                class="form-control"
                id="id"
                type="text"
                name="id"
                [(ngModel)]="editingStaff.id"
                readonly
                ngModel
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-9 col-lg-9">
            <div class="form-group">
              <label for="username">User Name</label>
              <input
                class="form-control"
                id="username"
                type="text"
                name="username"
                #username="ngModel"
                [(ngModel)]="editingStaff.username"
                [readonly]="!isEditable"
                ngModel
                required
              />
              <p
                class="alert alert-danger"
                *ngIf="username.touched && username.errors?.required"
              >
                User Name is required!
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-9 col-lg-9">
            <div class="form-group">
              <label for="password">Password</label>
              <input
                class="form-control"
                type="password"
                id="password"
                name="password"
                #password="ngModel"
                [(ngModel)]="editingStaff.password"
                [readonly]="!isEditable"
                ngModel
                required
                minlength="6"
              />

              <p
                class="alert alert-danger"
                *ngIf="password.touched && password.errors?.required"
              >
                Password is required!
              </p>

              <p
                class="alert alert-danger"
                role="alert"
                *ngIf="password.touched && password.errors?.minlength"
              >
                Password must be at least 6 characters long!!!
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-9 col-lg-9">
            <div class="form-group">
              <label for="fullName">Full Name</label>
              <input
                class="form-control"
                type="text"
                id="fullName"
                name="fullName"
                #fullName="ngModel"
                [(ngModel)]="editingStaff.fullName"
                [readonly]="!isEditable"
                ngModel
                required
              />
              <p
                class="alert alert-danger"
                *ngIf="fullName.touched && fullName.errors?.required"
              >
                Full Name is required!
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-9 col-lg-9">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                class="form-control"
                type="text"
                id="email"
                name="email"
                #email="ngModel"
                [(ngModel)]="editingStaff.email"
                [readonly]="!isEditable"
                ngModel
                required
                email
              />
              <p
                class="alert alert-danger"
                *ngIf="!email.valid && email.touched && email.errors"
              >
                Email is invalid!
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-9 col-lg-9">
            <div class="form-group">
              <label for="phone">Phone</label>
              <input
                class="form-control"
                type="text"
                id="phone"
                name="phone"
                #phone="ngModel"
                [(ngModel)]="editingStaff.phone"
                [readonly]="!isEditable"
                ngModel
                required
              />
              <p
                class="alert alert-danger"
                *ngIf="phone.touched && phone.errors?.required"
              >
                Phone is required!
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-9 col-lg-9">
            <div class="form-group">
              <label for="address">Address</label>
              <textarea
                class="form-control"
                type="text"
                id="address"
                name="address"
                rows="3"
                [(ngModel)]="editingStaff.address"
                [readonly]="!isEditable"
                ngModel
                required
                #address="ngModel"
              ></textarea>
              <p
                class="alert alert-danger"
                *ngIf="address.touched && address.errors?.required"
              >
                Address is required!
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-9 col-lg-9">
            <div class="row justify-content-end mr-2">
              <button
                class="btn btn-success"
                type="submit"
                *ngIf="isEditable"
                [disabled]="!form.valid"
                (click)="saveStaff($event)"
              >
                {{ isNewStaff ? "Submit" : "Save" }}
              </button>
              <button
                class="btn btn-danger"
                type="button"
                (click)="onClose($event)"
                *ngIf="isEditable"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-9 col-lg-9">
            <button
              class="btn btn-primary"
              type="button"
              (click)="onClose($event)"
              *ngIf="!isEditable"
            >
              Close
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>
<!--
<app-alert
  [(visibleAlert)]="isConfirm"
  (onGoBackFirstPage)="onGoBackFirstPage($event)"
  (clickedConfim)="onClickedConfirmEditted($event)"
></app-alert> -->
