.seats {
  background-color: white;
  padding: 10px;
}

.history {
  background-color: white;
  padding: 10px;
}

.col-button-64 {
  max-width: 12.5%;
  flex-basis: 12.5%;
}

h2,
h3 {
  font-style: normal;
  font-weight: normal;
  line-height: 42px;
  text-transform: capitalize;
}

.date {
  color: #a6a6a6;
}

.title {
  margin-top: 25px;
  text-align: start;
  font-size: 18px;
  margin-bottom: 0px;
}

.content {
  margin-top: 25px;
  font-size: 18px;
  color: #a5a5a5;
  text-align: end;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.btn-seat {
  background-color: #e3e3e3;
  border-radius: 5px;
  color: white;
  margin: 10px 0px;
  padding: 12px 14px;
  border: none;
  outline: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.col-5 .btn-seat {
  padding: 6px 7px;
}

.btn-reserved {
  background-color: #20c997;
  opacity: 0.6;
  transition: 0.1s;
  margin: 10px 0px;
}

.btn-reserved:hover {
  background-color: #20c997;
  opacity: 1;
}

.disable-demo {
  pointer-events: none;
}
.demo {
  border-radius: 5px;
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.color-paid {
  color: #20c997 !important;
  opacity: 0.6;
}
