@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  background: #f8faf9;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* overflow: hidden; */
}

.btn-new {
  outline: none;
  border-radius: 10px;
  background-color: #20c997;
  color: white;
}

.btn-cancel {
  outline: none;
  border-radius: 10px;
  background-color: #dc3545;
  color: white;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
