<nav class="navbar navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="" alt="" />
      <a href="#" class="navbar-brand">Movie's World</a>
    </div>

    <ul class="navbar-nav ml-auto account">
      <li class="nav-item dropdown">
        <img
          src="assets/images/logo.png"
          width="50"
          height="50"
          style="display: inline;"
        />
      </li>
      <li class="nav-item dropdown">
        <a
          style="cursor: pointer;"
          class="dropdown-toggle"
          role="button"
          style="color: black;"
        ></a>
        <ul class="dropdown-menu">
          <li>
            <a style="cursor: pointer;">Profile</a>
          </li>
          <li>
            <a style="cursor: pointer;">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
