<link rel="stylesheet" href="/assets/fontawesome/css/all.min.css" />

<ul class="navbar-nav ml-auto account">
  <li id="toggle1" class="dropdown" appDropdown>
    <a style="cursor: pointer;" class="dropdown-toggle" role="button">
      <span>{{ "Hi," + loginedUser.username }}</span>
      <img
        src="assets/images/logo.png"
        width="50"
        height="50"
        style="display: inline;"
      />
    </a>
    <ul
      class="dropdown-menu position-absolute"
      data-toggle="toggle1"
      style="left: auto !important; right: 0; min-width: auto;"
    >
      <li>
        <a class="dropdown-item" style="cursor: pointer;">
          <i class="fas fa-user-circle"></i>
          Profile</a
        >
      </li>
      <li>
        <a class="dropdown-item" style="cursor: pointer;" (click)="onLogout()">
          <i class="fas fa-power-off"></i>
          Logout</a
        >
      </li>
    </ul>
  </li>
</ul>
